<div class="container">
    <div class="row">
    <div class="error-template">
       <img class="img-circle" src="./images/check.png" height="200" width="200" alt="Avatar"/>
      <h1>Thank You for the Feedback!</h1>
      <h2>Hoping to be with service with you again.</h2>
      <div class="error-actions">
    <a href="/gobackpage" class="btn btn-primary">
        <i class="icon-home icon-white"></i> Go Back </a>
      </div>
  </div>
    </div>
</div>